<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!-- Test Commit -->
<html>
    <head>
        <title>PREN Mission Control</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body> 
        <div id="div1">
            <h1>Livefeed</h1>
            <img src="{{ url_for('video_feed') }}">
        </div>
        <div id="div2">
            <h1>Logs</h1>
            <div id="output"></div>
        </div>
        <div id="div3">
            <h1>State Machine</h1>
        </div>
        <div id="div4">
            <!--<h1>Fahrzeit</h1>-->
            <h1>Prediction Navigation</h1>
        </div>
    </body>
    <script>
        var output = document.getElementById('output');
    
        var xhr = new XMLHttpRequest();
        xhr.open('GET', "{{ url_for('stream_logs') }}");
        xhr.send();
    
        setInterval(function() {
            text = xhr.responseText.replace(/(?:\r\n|\r|\n)/g, '<br>');
            output.innerHTML = text;
        }, 1000);
    </script>
</html>
