/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18.11.2019, 15:37:52
    Author     : Majkel, Samuel
*/

#div1, #div2, #div3, #div4 {
    font-size: 12px;
}

html, body { height: 100%; padding: 0; margin: 0; }
div { width: 50%; height: 50%; float: left; }
#div1 { background: #DDD; }
#div2 { background: #AAA; }
#div3 { background: rgb(133, 133, 133); }
#div4 { background: rgb(94, 94, 94); }
#output {
    width: 100%;
    height: auto;
    margin-left: 5px;
    margin-right: 5px;
    font-size: initial;
}





